/* app/globals.css */
:root{
  --bg:#0b0f12;
  --panel:#071018;
  --accent:#2ee07a;
  --muted:#9aa6a0;
  --glass: rgba(255,255,255,0.02);
}

*{box-sizing:border-box}
html,body,#root{height:100%}
button{cursor:pointer}
